<div class="share">
  <p>
    <?php print t('Share this article on'); ?>: 
    
    <a class="twitter" target="blank_" rel="nofollow" href="http://twitter.com/home?status=<?php print drupal_get_title(); ?> <?php print url(current_path(), array('absolute' => true)); ?>">twitter</a>, 
    
    <a class="facebook" target="blank_" rel="nofollow" href="https://www.facebook.com/sharer/sharer.php?u=<?php print url(current_path(), array('absolute' => true)); ?>" target="_blank">facebook</a>, 
    
    <a class="linkedin" target="blank_" rel="nofollow" href="http://www.linkedin.com/shareArticle?mini=true&url=<?php print url(current_path(), array('absolute' => true)); ?>&title=<?php print drupal_get_title(); ?>" target="_blank">linkedin</a> 
    
    <?php print t('or via'); ?> 
    
    <a class="email" target="blank_" rel="nofollow" href="mailto:?subject=<?php print drupal_get_title(); ?>&body=<?php print t('I\'d like to share this with you:'); ?> <?php print url(current_path(), array('absolute' => true)); ?>">e-mail</a>
    
  </p>
</div>
  